.view {
  display: flex;
  gap: 10px;

  .view-icon {
    width: 50px;
    height: 50px;
    position: relative;

    &::before {
      transition: .3s;
      content: " ";
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  &__list,
  &__grid {
    border-radius: 10px;

    &:hover {
      transition: .3s;
    }
  }

  &__list {
    .view-icon {
      &::before {
        mask: url("img/list-view-icon.svg") no-repeat;
      }
    }
  }

  &__grid {
    .view-icon {
      &::before {
        mask: url("img/grid-view-icon.svg") no-repeat;
      }
    }
  }
}