//- .filter-type-checkbox__item
//-   input#year1-checkbox.filter-type-checkbox__checkbox.checkbox-year(type="checkbox" name="year1-checkbox" value="2017")
//-   label.filter-type-checkbox__label(for="year1-checkbox") 2017

//- .filter-type-checkbox__item
//-   input#year2-checkbox.filter-type-checkbox__checkbox.checkbox-year(type="checkbox" name="year2-checkbox" value="2018")
//-   label.filter-type-checkbox__label(for="year2-checkbox") 2018

//- .filter-type-checkbox__item
//-   input#year3-checkbox.filter-type-checkbox__checkbox.checkbox-year(type="checkbox" name="year3-checkbox" value="2019")
//-   label.filter-type-checkbox__label(for="year3-checkbox") 2019

//- .filter-type-checkbox__item
//-   input#year4-checkbox.filter-type-checkbox__checkbox.checkbox-year(type="checkbox" name="year4-checkbox" value="2020")
//-   label.filter-type-checkbox__label(for="year4-checkbox") 2020

//- .filter-type-checkbox__item
//-   input#year5-checkbox.filter-type-checkbox__checkbox.checkbox-year(type="checkbox" name="year5-checkbox" value="2021")
//-   label.filter-type-checkbox__label(for="year5-checkbox") 2021

//- .filter-type-checkbox__item
//-   input#year6-checkbox.filter-type-checkbox__checkbox.checkbox-year(type="checkbox" name="year6-checkbox" value="2022")
//-   label.filter-type-checkbox__label(for="year6-checkbox") 2022