.os-main {
  .os-home-section {
    transition: 0.3s;
    padding: 300px 0 50px;
    background: url("Home/img/home-background.png") var(--light-bg);
    background-size: cover;
    // padding: var(--desktop-margins);

    @media screen and (width <=$notebook) {
      padding: 270px 0 50px;
    }

    @media screen and (width <=$tablet) {
      padding: 220px 0 50px;
    }

    @media screen and (width <=$mobile) {
      padding: 170px 0 50px;
    }

    .home-logo {
      text-align: center;
      margin-bottom: 250px;

      // .home-logo__img {}

      .home-logo__h1 {
        font-family: var(--font-bilbo);
        font-size: 90px;
        font-weight: 100;
        line-height: 1;
        margin: 10px 0 0;
        transition: .3s;
      }

      .home-logo__desc {
        margin: 0;
      }

      @media screen and (width <=$notebook) {
        margin-bottom: 200px;
      }

      @media screen and (width <=$tablet) {
        margin-bottom: 150px;
      }

      @media screen and (width <=$mobile) {
        margin-bottom: 100px;

        .home-logo__h1 {
          font-size: 70px;
        }

        .home-logo__img {
          width: 130px;
        }
      }
    }

    .home-down {
      text-align: center;

      .home-down__text {
        font-weight: 700;
        margin-top: 0;
      }

      // .home-down__icon {}
    }
  }

  .os-about-section {
    .container {
      display: flex;
      gap: 5%;

      .about {
        display: flex;
        flex-direction: column;
        flex: 1 0 45%;
        padding: 240px 0 300px 5%;
        transition: .3s;


        &__h2 {
          margin-top: 0;
          margin-bottom: 20px;
        }

        &__text {
          margin-top: 0;
          margin-bottom: 40px;
        }
      }

      .about-img {
        flex: 1 0 90%;
        background: url("img/about-section-bg.png") no-repeat;
        background-size: cover;
        background-position: left 50%;

      }

      @media screen and (width <=$notebook) {
        .about {
          padding: 240px 0 300px;
        }
      }

      @media screen and (width <=$tablet) {
        flex-direction: column-reverse;
        gap: 0;

        .about {
          flex-direction: column;
          padding: 5% 0 15%;
          text-align: center;

          button.secondary-btn {
            margin: 0 auto;
          }
        }

        .about-img {
          background-size: contain;
          background-position: center top;
          margin-top: 10%;
          padding: 35%;
        }
      }

      @media screen and (width <=$mobile) {
        .about__text {
          font-size: 16px;
        }
      }
    }
  }

  .os-contacts-section {
    padding: 200px 0;
    transition: 0.3s;
    background: var(--white-bg);

    @media screen and (width <=$notebook) {
      padding: 170px 0;
    }

    @media screen and (width <=$tablet) {
      padding: 120px 0;
    }

    @media screen and (width <=$mobile) {
      padding: 70px 0;
    }

    .container {
      display: flex;
      gap: 5%;
      align-items: center;

      .map {
        flex: 1 0 50%;
        border-radius: 20px;
        overflow: hidden;
        transition: .3s;

      }

      .contacts {
        display: flex;
        flex-direction: column;
        flex: 1 0 45%;
        transition: .3s;


        .contacts__h2 {
          margin: 0 0 30px;
        }

        .contacts__address {
          margin: 0 0 10px;
        }

        .contacts__phone {
          margin: 0 0 30px;
          font-weight: 700;
          transition: 0.3s;

          &:hover {
            color: var(--primary-color);
          }
        }

        .socials {
          display: flex;
          gap: 10px;

          .logo-icon {
            margin-right: 20px;
          }
        }

        @media screen and (width <=$tablet) {
          align-items: center;

          .contacts__address,
          .contacts__phone {
            text-align: center;
            font-size: 16px;
          }
        }
      }

      @media screen and (width <=$tablet) {
        flex-direction: column;
        align-items: stretch;

        .contacts {
          margin-top: 5%;
        }

        .socials {
          flex-wrap: wrap;
        }
      }

      // @media screen and (width <=$mobile) {
      //   padding: 70px 0;
      // }
    }
  }
}