.os-main {
  .os-home-section {
    transition: 0.3s;
    padding: 200px 0 50px;

    @media screen and (width <=$notebook) {
      padding: 150px 0 50px;
    }

    @media screen and (width <=$tablet) {
      padding: 100px 0 50px;
    }

    @media screen and (width <=$mobile) {
      padding: 50px 0;
    }
  }

  .container {
    .home-logo {
      text-align: center;
      margin-bottom: 250px;

      @media screen and (width <=$notebook) {
        margin-bottom: 200px;
      }

      @media screen and (width <=$tablet) {
        margin-bottom: 150px;
      }

      @media screen and (width <=$mobile) {
        margin-bottom: 100px;
      }

      // .home-logo__img {}

      .home-logo__h1 {
        font-family: var(--font-bilbo);
        font-size: 90px;
        font-weight: 100;
        line-height: 1;
        margin: 10px 0 0;
      }

      .home-logo__desc {
        margin: 0;
      }
    }

    .home-down {
      text-align: center;

      .home-down__text {
        font-weight: 700;
        margin-top: 0;
      }

      // .home-down__icon {}
    }
  }
}