doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href=require("Src/style.scss"))
    script(src=require("Src/index.ts"), defer)
    title RSS Online Shop | Home
    include Base/mixins.pug
  body#home.os-body.theme-light
    include HomeHeader/home-header.pug
    main.os-main
      section.os-home-section
        .container
          .home-logo
            img.home-logo__img(src=require("Img/logo.svg"), width="150" alt="logo")
            h1.home-logo__h1 WoolNor
            p.home-logo__desc 100% natural products
          .home-down
            p.home-down__text About Us
            img.home-down__icon(src=require("img/mouse-down.svg"), width="25" alt="Mouse down")
      section#about-us.os-about-section
        .container
          .left-column
            h2.os-about__h2 About Us
            p.os-about__text We are a small farm from Norway.  We keep sheep and create warm things made with love.  We make things from wool of the sheep living on our farm, we combine traditions and new approaches in production.  The final product is of high quality, all items are checked by professionals.  In our online store you can choose what you like best and order.  or visit our farm, get to know the sheep personally and make your choice.
            button.secondary-btn View our products
          .right-column
