.os-main {
  .os-home-section {
    transition: 0.3s;
    padding: 300px 0 50px;
    background: url("Home/img/home-background.png") var(--body-bg);
    background-size: cover;
    // padding: var(--desktop-margins);

    @media screen and (width <=$notebook) {
      padding: 270px 0 50px;
    }

    @media screen and (width <=$tablet) {
      padding: 220px 0 50px;
    }

    @media screen and (width <=$mobile) {
      padding: 170px 0 50px;
    }

    .home-logo {
      text-align: center;
      margin-bottom: 250px;

      @media screen and (width <=$notebook) {
        margin-bottom: 200px;
      }

      @media screen and (width <=$tablet) {
        margin-bottom: 150px;
      }

      @media screen and (width <=$mobile) {
        margin-bottom: 100px;
      }

      // .home-logo__img {}

      .home-logo__h1 {
        font-family: var(--font-bilbo);
        font-size: 90px;
        font-weight: 100;
        line-height: 1;
        margin: 10px 0 0;
      }

      .home-logo__desc {
        margin: 0;
      }
    }

    .home-down {
      text-align: center;

      .home-down__text {
        font-weight: 700;
        margin-top: 0;
      }

      // .home-down__icon {}
    }
  }

  .os-about-section {


    .container {
      display: flex;
      gap: 5%;

      .left-column {
        display: flex;
        flex-direction: column;
        flex: 1 0 40%;
        padding: 240px 0 300px 5%;

        .os-about__h2 {
          margin-top: 0;
          margin-bottom: 20px;
        }

        .os-about__text {
          margin-top: 0;
          margin-bottom: 40px;
        }
      }

      .right-column {
        flex: 1 0 100%;
        background: url("img/about-section-bg.png") no-repeat;
        background-size: cover;
        background-position: left 70%;
      }
    }
  }

}