.theme-light {
  // BASE
  --primary-color: #eb7049;
  --secondary-color: #554e4b;
  --white-bg: #ffffff;
  --light-bg: #fcfaf9;
  --dark-bg: #292827;
  --text-color: #392e2a;
  --text-color-alt: #ffffff;
  --link-color: #392e2a;
  --link-color-alt: #ffffff;
  --link-color-hover: var(--primary-color);
  --header-color: #392e2a;
  --selection-hover: #fff4de;
  --dimmed-border-placeholder: #c1b1aa;
  --mini-cart-color: #836c63;

  // HEADER
  --header-bg: transparent;
  --header-font-color: var(--font-color);
  --menu-bg: #ffffff;

  color: var(--text-color);

  // SECTIONS
  .os-home-section,
  .os-about-section {
    background: var(--light-bg);
  }

  .os-contacts-section {
    background: var(--white-bg);
  }

  .os-footer {
    background: var(--dark-bg);
    color: var(--text-color-alt);
  }
}