@import "Base/vars";
@import "Base/mixins";

.theme-light {
  // BASE
  --primary-color: #eb7049;
  --secondary-color: #554e4b;
  --white-bg: #ffffff;
  --light-bg: #fcfaf9;
  --dark-bg: #292827;
  --text-color: #392e2a;
  --text-color-alt: #ffffff;
  --link-color: #392e2a;
  --link-color-alt: #ffffff;
  --link-color-hover: var(--primary-color);
  --header-color: #392e2a;
  --selection-hover: #fff4de;
  --dimmed-border-placeholder: #c1b1aa;
  --mini-cart-color: #836c63;

  // HEADER
  --header-bg: transparent;
  --header-font-color: var(--font-color);
  --menu-bg: #ffffff;

  // BTN

  color: var(--text-color);

  .primary-btn {
    @include btn(var(--primary-color), var(--secondary-color), 16, 14px 30px);
  }

  .secondary-btn {
    @include btn(var(--secondary-color), var(--primary-color), 16, 14px 30px);
  }

  .full-btn {
    @include btn(var(--primary-color), var(--secondary-color), 20, 14px 30px, true);
  }

  .os-home-section,
  .os-about-section {
    background: var(--light-bg);
  }

  .os-contacts-section {
    background: var(--white-bg);
  }

  .os-footer {
    background: var(--dark-bg);
    color: var(--text-color-alt);

    // .container {
    //   .left-column {
    //     .footer-logo-icon {}

    //     .foote-phone {}

    //     .footer-address {}
    //   }

    //   .right-column {
    //     .footer-rss-logo {}

    //     .foote-rights {}
    //   }
    // }
  }
}