.theme-light {



  // BASE
  --light-bg: #fcfaf9;
  --white-bg: #ffffff;
  --text-color: #392e2a;
  --link-color: #392e2a;
  --header-color: #392e2a;
  --primary-color: #eb7049;
  --secondary-color: #554e4b;
  --selection-hover: #fff4de;
  --dimmed-border-placeholder: #c1b1aa;
  --mini-cart-color: #836c63;

  // HEADER
  --header-bg: transparent;
  --header-font-color: var(--font-color);

  // FOOTER
  --footer-bg: #292827;
  --footer-font-color: #ffffff;

  // HEADER NAV
  --menu-bg: #ffffff;


  // BTN
  @mixin btn($bg, $hover-bg, $fsize, $padding, $full: false) {
    cursor: pointer;
    background: $bg;
    font-size: $fsize + px;
    color: #ffffff;
    line-height: 1.4;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: $padding;
    transition: 0.3s;
    box-shadow: var(--box-shadow-xs);

    @if $full ==true {
      display: inline-block;
      width: 100%;
    }

    @else {
      width: fit-content;
    }

    &:hover {
      background: $hover-bg;
      box-shadow: none;
    }
  }

  .primary-btn {
    @include btn(var(--primary-color), var(--secondary-color), 16, 14px 30px);
  }

  .secondary-btn {
    @include btn(var(--secondary-color), var(--primary-color), 16, 14px 30px);
  }

  .full-btn {
    @include btn(var(--primary-color), var(--secondary-color), 20, 14px 30px, true);
  }

  .os-home-section,
  .os-about-section {
    background: var(--light-bg);

  }

  .os-contacts-section {
    background: var(--white-bg);
  }

  .os-footer {
    background: var(--footer-bg);
    color: var(--footer-font-color);

    .container {

      .left-column {

        .footer-logo-icon {}

        .foote-phone {}

        .footer-address {}
      }

      .right-column {

        .footer-rss-logo {}

        .foote-rights {}
      }
    }
  }
}