.theme-light {
  @mixin btn($bg, $hover-bg, $fz, $padding) {
    cursor: pointer;
    background: $bg;
    font-size: $fz + px;
    color: #ffffff;
    line-height: 1.4;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: $padding;
    transition: 0.3s;
    box-shadow: var(--box-shadow-xs);

    &:hover {
      background: $hover-bg;
      box-shadow: none;
    }
  }

  .primary-btn {
    @include btn(var(--primary-color), var(--secondary-color), 16, 14px 30px);
  }

  .secondary-btn {
    @include btn(var(--secondary-color), var(--primary-color), 16, 14px 30px);
  }

  .full-btn {
    @include btn(var(--primary-color), var(--secondary-color), 20, 14px 30px);
  }

  // BASE
  --body-bg: #fcfaf9;
  --text-color: #392e2a;
  --link-color: #392e2a;
  --header-color: #392e2a;
  --primary-color: #eb7049;
  --secondary-color: #554e4b;
  --selection-hover: #fff4de;
  --dimmed-border-placeholder: #c1b1aa;
  --mini-cart-color: #836c63;

  // HEADER
  --header-bg: transparent;
  --header-font-color: var(--font-color);

  // FOOTER
  --footer-bg: #292827;
  --footer-font-color: #ffffff;

  // HEADER NAV
  --menu-bg: #ffffff;

  // BTN

}