.theme-light {

  @mixin btn ($bg, $hover-bg, $fz, $padding) {

    cursor: pointer;
    background: $bg;
    font-size: $fz + px;
    color: #fff;
    line-height: 1.4;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: $padding;
    transition: .3s;
    box-shadow: var(--box-shadow-xs);

    &:hover {
      background: $hover-bg;
      box-shadow: none;
    }

  }

  .primary-btn {
    @include btn(var(--primary-color), var(--secondary-color), 16, 14px 30px);
  }

  .secondary-btn {
    @include btn(var(--secondary-color), var(--primary-color), 16, 14px 30px);
  }

  .full-btn {
    @include btn(var(--primary-color), var(--secondary-color), 20, 14px 30px);
  }

  // BASE
  --body-bg: #FCFAF9;
  --text-color: #392E2A;
  --link-color: #392E2A;
  --header-color: #392E2A;
  --primary-color: #EB7049;
  --secondary-color: #554E4B;
  --selection-hover: #FFF4DE;
  --dimmed-border-placeholder: #C1B1AA;
  --mini-cart-color: #836C63;

  // HEADER
  --header-bg: transparent;
  --header-font-color: var(--font-color);

  // FOOTER
  --footer-bg: #292827;
  --footer-font-color: #ffffff;

  // HEADER NAV
  --menu-bg: #ffffff;

  // BTN
  background: url("Home/img/home-background.png") var(--body-bg);


}