doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href=require('Img/favicon.png'))
    link(rel="stylesheet" href=require("Src/style.scss"))
    script(src=require("Src/index.ts"), defer)
    script(src=require("shop.ts"), defer)
    title RSS Online Shop | Shop

  body.os-body.os-body-shop.theme-light

    include ShopHeader/shop-header.pug

    main.os-main.os-main-shop

      .container

        section.page-header
          h1.os-h1 Catalog
          .os-bread-crambs
            a(href="#" ) home
            span  /
            a(href="#" )  catalog

        aside.catalog-aside
          include Filter/filter.pug

        section.catalog-body

          .sort-container
            include Sort/sort.pug
            include View/view.pug

          .products-container
            include ProductGrid/product-grid.pug

    include Footer/footer.pug