doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href=require('Img/favicon.png'))
    link(rel="stylesheet" href=require("Src/style.scss"))
    script(src=require("Src/index.ts"), defer)
    script(src=require("product.ts"), defer)
    title RSS Online Shop | Product

  body.os-body.os-body-product.theme-light

    include ShopHeader/shop-header.pug

    main.os-main.os-main-product

      section.product-section

        .container

          .product-header
            h1.os-h1 Product Name
            .os-bread-crambs
              a(href="#" ) home
              span  /
              a(href="#" )  2022
              span  /
              a(href="#" )  Product Name

          .product-body
            .column-left.product-gallery

            .column-right.product-info



    include Footer/footer.pug