@import "Base/vars";

.dispnone {
  display: none;
}

.hide {
  opacity: 0%;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p,
a {
  font-size: 20px;
}

.os-main {
  overflow-x: hidden;
  // padding: 0 0 25px;
}

.os-body {
  font-family: var(--font-opensans);
  line-height: 1.7;
  height: 100%;
  transition: 0.3s;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  max-width: $desktop;
  padding: 0 var(--desktop-paddings);
  margin: 0 auto;
  position: relative;

  @media screen and (width <=$notebook) {
    max-width: $notebook;
    padding: 0 var(--notebook-paddings);
  }

  @media screen and (width <=$tablet) {
    max-width: $tablet;
    padding: 0 var(--tablet-paddings);
  }

  @media screen and (width <=$mobile) {
    max-width: $mobile;
    padding: 0 var(--mobile-paddings);
  }
}