// BUTTONS
@mixin btn($bg, $hover-bg, $fsize: 16px, $padding: 14px 30px, $border-r: 50px, $full: false) {
  cursor: pointer;
  background: $bg;
  font-size: $fsize;
  color: var(--text-color-alt);
  line-height: 1.4;
  font-weight: 700;
  border: none;
  outline: none;
  padding: $padding;
  box-shadow: var(--box-shadow-xs);
  transition: 0.3s;

  @if $full ==true {
    display: inline-block;
    width: 100%;
  }

  @else {
    width: fit-content;
  }

  @if $border-r {
    border-radius: $border-r;
  }

  @if $padding {
    padding: $padding;
  }

  @if $fsize {
    font-size: $fsize;
  }

  &:hover {
    background: $hover-bg;
    box-shadow: none;
  }
}