.dispnone {
  display: none;
}

.hide {
  opacity: 0%;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.os-main {
  overflow-x: hidden;
  // padding: 0 0 25px;
}

.os-body {
  margin: var(--desktop-margins);
  font-family: var(--font-opensans);
  line-height: 1.7;
  height: 100%;
  transition: 0.3s;

  @media screen and (width <=$notebook) {
    margin: var(--notebook-margins);
  }

  @media screen and (width <=$tablet) {
    margin: var(--tablet-margins);
  }

  @media screen and (width <=$mobile) {
    margin: var(--mobile-margins);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  max-width: var(--desktop);
  padding: var(--desktop-paddings);
  margin: 0 auto;

  @media screen and (width <=$notebook) {
    max-width: $notebook;
    padding: var(--notebook-paddings);
  }

  @media screen and (width <=$tablet) {
    max-width: $tablet;
    padding: var(--tablet-paddings);
  }

  @media screen and (width <=$mobile) {
    max-width: $mobile;
    padding: var(--mobile-paddings);
  }
}
