// VIEWPOINTS
$desktop: 1680px;
$notebook: 1280px;
$tablet: 940px;
$mobile: 640px;

:root {
  --border-radius-xl: 20px;
  --border-radius-l: 10px;
  --border-radius-xs: 5px;

  --box-shadow-xl: 0px 4px 38px 0px rgb(0 0 0 / 25%);
  --box-shadow-l: 0px 4px 38px 0px rgb(0 0 0 / 18%);
  --box-shadow-xs: 0px 4px 38px 0px rgb(0 0 0 / 10%);

  // TYPOGRAPHY
  --font-opensans: "Open Sans", sans-serif;
  --font-bilbo: "Bilbo Swash Caps", sans-serif;

  // BODY
  --desktop-margins: 75px 0 0;
  --notebook-margins: 40px 0 0;
  --tablet-margins: 20px 0 0;
  --mobile-margins: 20px 0 0;

  --desktop-paddings: 0 30px;
  --notebook-paddings: 0 25px;
  --tablet-paddings: 0 25px;
  --mobile-paddings: 0 20px;

  // HEADER SIZES
  --desktop-header-height: 50px;
  --notebook-header-height: 50px;
  --tablet-header-height: 40px;
  --mobile-header-height: 30px;

  // NAV
  --desktop-nav-font-size: 18px;
  --notebook-nav-font-size: 18px;
  --tablet-nav-font-size: 16px;
  --mobile-nav-font-size: 16px;
}
