.range-container.range-container-price
  .sliders-control
    input.dual-range-slider.from-slider-price(type='range' value='0' min='0' max='100')
    input.dual-range-slider.to-slider-price(type='range' value='100' min='0' max='100')
  .slider-value-container
    .from-value-price
    .to-value-price