.os-footer {
  padding: 75px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .footer-left-column,
    .footer-right-column {
      display: flex;
      flex-direction: column;
    }

    .footer-address,
    .footer-phone,
    .footer-rights {
      font-size: 16px;
      transition: 0.3s;
    }

    .footer-left-column {
      .footer-logo-icon {
        filter: brightness(10);
        margin-bottom: 40px;
      }

      .footer-phone {
        margin-bottom: 15px;
      }
    }

    .footer-right-column {
      align-items: flex-end;
      justify-content: space-between;

      .footer-rss-logo {
        margin-bottom: 35px;
      }

      .footer-rights {
        margin: 0;
      }
    }

    .footer-phone:hover,
    .footer-address:hover {
      color: var(--primary-color);
    }

    @media screen and (width <=$mobile) {
      flex-direction: column;
      align-items: center;

      .footer-left-column,
      .footer-right-column {
        align-items: center;
      }

      .footer-right-column {
        margin-top: 10%;
      }
    }
  }
}