footer.os-footer

  .container

    .footer-left-column

      a(href="#home")
        img.footer-logo-icon(src=require("Img/logo-horizontal.svg") width="200" alt="logo")
      a.footer-phone(href="tel:+57-56-55-66") +57-56-55-66
      a.footer-address(href="#contacts") 3465, Norway,  Oslo, Stahenstos, 45

    .footer-right-column

      a(href="https://rs.school/js/" target="_blank")
        img.footer-rss-logo(src=require("Img/rss-logo.svg") width="150" alt="rss-log")
      p.footer-rights © 2023. All Rights reserved