.os-404-section {
  padding: calc(70px + var(--desktop-header-height) + var(--desktop-header-top-margin)) 0 250px;
  transition: .3s;

  @media screen and (width <=$notebook) {
    padding: calc(70px + var(--notebook-header-height) + var(--notebook-header-top-margin)) 0 250px;
  }

  @media screen and (width <=$tablet) {
    padding: calc(70px + var(--tablet-header-height) + var(--tablet-header-top-margin)) 0 250px;
  }

  @media screen and (width <=$mobile) {
    padding: calc(70px + var(--mobile-header-height) + var(--mobile-header-top-margin)) 0 250px;
  }

  .container {
    text-align: center;

    // .sad-emoticon {}

    .header-404 {
      font-size: 100px;
      font-weight: 700;
      line-height: 1;
      margin: 15px 0 10px;
    }

    .desc-404 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 50px;
    }

    // .primary-btn {}
  }
}