.os-404-section {

  .container {
    padding: 70px 0 250px;
    text-align: center;

    // .sad-emoticon {}

    .header-404 {
      font-size: 100px;
      font-weight: 700;
      line-height: 1;
      margin: 15px 0 10px;
    }

    .desc-404 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 50px;
    }

    // .primary-btn {}
  }
}