nav.nav
  .nav-icon
  .menu.hide
    a.menu__item(href="/home.html" data-navigo) Home
    a.menu__item(href="/#about-us" data-navigo) About Us
    a.menu__item(href="/#contacts" data-navigo) Contacts
    a.menu__item(href="/shop.html" data-navigo) Shop