header.home-header

  .container

    .left-column

      nav.nav
        .nav-icon
        .menu.hide
          a.menu__item(href="/#about-us") About US
          a.menu__item(href="/#contacts") Contacts
          a.menu__item(href="shop.html") Shop

    .right-column

      .header-phone
        .header-phone__icon
        a.header-phone__text(href="tel:+57-56-55-66") +57-56-55-66

      button.primary-btn(onclick="window.location.href='shop.html'") Wool Shop
