header.home-header

  .container

    .left-column

      include HeaderMenu/header-menu.pug

    .right-column

      .header-phone
        .header-phone__icon
        a.header-phone__text(href="tel:+57-56-55-66") +57-56-55-66

      button.primary-btn(onclick="window.location.href='shop.html'") Wool Shop
