.container {}

.home-header {
  height: var(--desktop-header-height);
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  &__left-side {
    .nav-icon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: 0.3s;

      &.active::before {
        mask: url("img/nav-icon-close.svg") no-repeat center;
        background-color: var(--primary-color);
      }

      &::before {
        transition: 0.3s;
        content: " ";
        mask: url("img/nav-icon-open.svg") no-repeat center;
        background-color: var(--text-color);
        position: absolute;
        width: 30px;
        height: 30px;
      }

      &:hover::before {
        background-color: var(--primary-color);
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      font-weight: 700;
      margin-top: 20px;
      padding: 40px 30px;
      min-width: 200px;
      border-radius: var(--border-radius-l);
      background: var(--menu-bg);
      box-shadow: var(--box-shadow-xs);
      transition: 0.3s;

      &__item {
        font-size: var(--desktop-nav-font-size);
        margin-bottom: 10px;
        transition: 0.3s;

        &:hover {
          color: var(--primary-color);
        }

        @media screen and (width <=$notebook) {
          font-size: var(--notebook-nav-font-size);
        }

        @media screen and (width <=$tablet) {
          font-size: var(--tablet-nav-font-size);
        }

        @media screen and (width <=$mobile) {
          font-size: var(--mobile-nav-font-size);
        }
      }
    }
  }

  &__right-side {
    display: flex;
    gap: 40px;
    align-items: center;

    .header-phone {
      transition: 0.3s;

      @media screen and (width <=$mobile) {
        display: none;
      }

      &::before {
        content: " ";
        mask: url("img/phone-icon.svg") no-repeat center;
        background-color: #48794d;
        position: absolute;
        width: 24px;
        height: 24px;
        margin-left: -40px;
        transition: 0.3s;
      }

      &:hover {
        color: var(--primary-color);

        &::before {
          background-color: var(--primary-color);
        }
      }

      &__icon {}

      &__text {
        font-weight: 700;
      }
    }

    .primary-btn {}
  }
}