.container
  header.home-header
    nav.nav
      .nav-icon
      .menu
        a.menu__item(href="#about-us") About US
        a.menu__item(href="#contacts") Contacts
        a.menu__item(href="Shop/shop.pug") Shop
      .header-phone
        .header-phone__icon
        p.header-phone__text
      button.home-header-to-shop-btn Wool Shop
