.container
  header.home-header
    nav.nav
      .nav__left-column
        .nav-icon
        .menu.hide
          a.menu__item(href="#about-us") About US
          a.menu__item(href="#contacts") Contacts
          a.menu__item(href="shop.html") Shop
      .nav__right-column
        .header-phone
          .header-phone__icon
          a.header-phone__text(href="tel:+57-56-55-66") +57-56-55-66
        button.primary-btn Wool Shop
