.sort
  label.sort__label(for="product-sort") Sort by:
  select#product-sort.sort__select(name="product-sort")
    option(value="default" selected) Default
    option(value="price-increase") Price increase
    option(value="price-decrease") Price decrease
    option(value="year") Year